.contacts {
  outline: #000000 solid 5px;
  outline-offset: -5px;
}

.contacts__title {
  font-size: 24px;
  line-height: 26px;
}

.contacts__container {
  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__wrapper {
  margin: 0;
}
