.catalog {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

.catalog__cart {
  outline: #008000 solid 5px;
  outline-offset: -5px;
}
