.about-product {
  outline: #0000ff solid 5px;
  outline-offset: -5px;
}

.about-product__title {
  outline: #000000 solid 5px;
  outline-offset: -5px;
  font-size: 36px;
  line-height: 40px;
}

.about-product__list {
  outline: #000000 solid 5px;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  list-style: none;
}
