.example {
  outline: #008000 solid 5px;
  outline-offset: -5px;
}

.exemple__wrapper {
  display: grid;

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr;
  }
}

.exemple__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet) {
    max-width: 500px;
  }
}

.example__title {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
}

.example__desk {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
  margin: 0;
  display: flex;
}

.example__term {
  font-size: 12px;
  line-height: 12px;
}

.example__def {
  font-size: 24px;
  line-height: 24px;
}

.example__info {
  font-size: 14px;
  line-height: 20px;
}

.example__slider {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;

  @media (min-width: @tablet) {
    max-width: 600px;
  }
}
