.footer {
  outline: black solid 5px;
  outline-offset: -5px;
  background-color: @basic_grey;
}

.footer__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.footer__contacts {
  &--bg {
    background-color: @white;
  }
}

.footer__wrapper {
  outline: blue solid 5px;
  outline-offset: -5px;
}

.footer__desk {
  outline: blue solid 5px;
  outline-offset: -10px;
}

.footer__list {
  outline: red solid 5px;
  outline-offset: -5px;
}

.footer__copiright {
  font-size: 16px;
  line-height: 18px;
}
