.header {
  outline: #008000 solid 5px;
  outline-offset: -5px;
}

.header__logo {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
}

.header__main-nav {
  outline: #ff0000 solid 5px;
  outline-offset: -5px;
}
