.header__wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet) {
    align-items: start;
  }
}

.header__logo {
  display: flex;

  @media (min-width: @tablet) {
    margin-top: 24px;
  }

  @media (min-width: @desktop) {
    margin-top: 53px;
  }
}

.header__image-2 {
  margin-left: 60px;

  @media (min-width: @tablet) {
    margin-left: 12px;
  }
}
