.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;
  margin: 20px 0;
  background-color: @basic_grey;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 53px;
    background-image: url("../img/cat_back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: @tablet) {
      top: 81px;
      left: 446px;
      width: 200px;
      height: 211px;
    }

    @media (min-width: @desktop) {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
    }
  }

  &:last-child::before {
    background-image: url("../img/cat_back-1.svg");
    width: 67px;
    height: 50px;
    top: 24px;
    left: 13px;

    @media (min-width: @tablet) {
      top: 91px;
      left: 412px;
      width: 268px;
      height: 200px;
    }

    @media (min-width: @desktop) {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: @tablet) {
    margin: 0;
    max-width: 708px;
  }

  @media (min-width: @desktop) {
    max-width: 570px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 91px;

  @media (min-width: @tablet) {
    padding-top: 77px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop) {
    padding-top: 77px;
    padding-left: 214px;
  }
}

.programs__text {
  padding-top: 29px;
  padding-right: 33px;
  padding-left: 20px;

  @media (min-width: @tablet) {
    padding-top: 24px;
    padding-left: 52px;
    padding-right: 316px;
  }

  @media (min-width: @desktop) {
    padding-top: 73px;
    padding-left: 52px;
    padding-right: 51px;
  }
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 38px;
  padding-left: 20px;
  padding-bottom: 18px;
  text-decoration: none;

  @media (min-width: @tablet) {
    padding-top: 48px;
    padding-left: 52px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop) {
    padding-top: 23px;
    padding-bottom: 55px;
  }
}
