.promo {
  outline: #000000 solid 5px;
  outline-offset: -5px;
}

.promo__wrapper {
  background-blend-mode: soft-light;
  background-image: url("/img/index-background-desktop 2.jpg");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  color: @white;
  outline: #0000ff solid 5px;
  outline-offset: -5px;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
}

.promo__image {
  outline: #0000ff solid 5px;
  outline-offset: -5px;
}

.promo__button {
  outline: #0000ff solid 5px;
  outline-offset: -5px;
}
